### remove the '#' to use the environment variables
export PRIVATE_KEY={WALLET/METAMASK_PRIVATE_KEY}
export WEB3_INFURA_PROJECT_ID={INFURA_PROJECT_ID}
# https://infura.io/dashboard/ethereum/{INFURA_PROJECT_ID}/stats


### Optional - don't uncomment if you don't know what they do!
# export ETHERSCAN_TOKEN=asdfasdfasdf
# export IPFS_URL=http://127.0.0.1:5001
# export UPLOAD_IPFS=true
# export PINATA_API_KEY='asdfasdfs'
# export PINATA_API_SECRET='asdfasdfsdf'

# ----------------------------------------

# https://pinata.cloud/pinmanager
# PINATA_API_ID=
# PINATA_API_KEY=
# PINATA_API_JWT=

# |       IPFS Files        |                    Image CID                   |                 Meta-Data CID                  |
# |:-----------------------:|:----------------------------------------------:|:----------------------------------------------:|
# |      shoutout           | QmRGhvqTPvx8kgMSLFdPaCysKvhtP5GV5MsKDmTx3v2QxT | QmXYvWA7g5Ck66qtVVn1ReE8q5h7WgBMtnA3gQCfvSKQSa |
# |                         |                                                |                                                |
# |                         |                                                |                                                |
# |                         |                                                |                                                |
# |                         |                                                |                                                |
# |                         |                                                |                                                |

# ----------------------------------------

# YOUR_DEVELOPER_ADDRESS=
# MNEMONIC=

# ----------------------------------------

# MIGRATIONS_CONTRACT_ADDRESS=
# MARKETPLACE_CONTRACT_ADDRESS=

# ----------------------------------------

# SKIP_PREFLIGHT_CHECK=true 
